div#toolbar .button_nav {
  width: 40px;
	height: 20px;
	border: none;
	background: none;
	opacity: 0.5;
	cursor: pointer;
	vertical-align: bottom;
	}
	
div#toolbar .button_nav:hover {
	opacity: 0.8;
	}

div#toolbar .button_nav[title~="Subscribe"] {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAFMN540AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbVJREFUeNpiYMAD/qMLKIAEGdFlAQIIJ7qPzcAGrKYDBBCyIAi/x+em//jcCLI0AE2SsFNBACCACKL/SFiAGIUMuLyF1Yvv0V2MHNKMULoRKlaPLzDw+xcggNAdtR8pxIgGDlA8Hy1cYAYSZXM/mrgBmkE4bU6ARjSyYgOovACSWAExXjmPIyT/Qy1CSVrYnBeAxwCsiv4TkajBfIAAolqyfQ8NbQFK0vx/9CxMTCIpwBJw/6FlCUkgAc2ABELOPo8lXZ8nxgB8/p1PyAvYMsV7AqkNKyjAYQDRsSCARXECLtthyfM+Dheg2y6AK8DuYxEPQMtA/fhCGz2k96O55j0uzQFosYBsoAPVchVAgA0K9J8AXg+NagF6W/wfS8ovoGVIKEAT930CjgigR7Q0INXiZBeahIL6PdQwARxZfj0OfQHUjuPzOIrA9eQ0CXCBAKhmXCFhgKUJ8R6LOopyggFauY0cAtjan/+JacmS6gBifHUfSzmAM1j/k5BQ9hPwlQKxCY5QomIgIkjRm43ziUls+AqI+0Q2Of5jqeuxyjMhKVIE4kAgfoAk9gAqpojD4gdDrkYCAMVbNo55nJyxAAAAAElFTkSuQmCC);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 12px 3px;
	
}
div#toolbar .button_nav[title~="Toggle"]{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAFMN540AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHFJREFUeNpiYEADjEjs/yCCiYEQAAggBmxm/EfmEzYDIIAGAwIIIPIRuofpoZN8ABBAQziQGdBTFpHBxzhEbQYIoNF4xh76gzC0KXI202hUDRUAEGCjiO7JC1eSIiRPtp1Mo2E/7ON4NKhHs9MooBoAAPenFBRNReoLAAAAAElFTkSuQmCC);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 12px 3px;
	
}
div#toolbar .button_nav[title~="Mark"]{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAFMN540AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAe5JREFUeNpiYMAB/gPxfRCDCUnwAbKKAhgDIIBwIgeoOXCOAIzDBOV8gKkACCB8aD66u2DgPTZX3MeikDgAEEBkoQYQwYzkIAkg/gnECkC8AKbKAE3Xe2QH/keikdkMLEhGBAKxP66IQjaWMAAIIGYyvAmKA0YgvoErnu8jeQAWYQH4nPQejyTIkARoGDJgi+B+KFsALT3+xxEwKIIOaJHwH4vi//jyhQGegAIZuh9fSCqg2QrDWDUBBBDd0X+aaZyP5Nf7SIGIN0ADkDQ4QHE/kth6QqGMzWSYAefx+aUAj6H4DEcJiH5sBSpU/D4+zfORctJ5NEMd8KVtZAXo2ZEozVhLKKScNx+b5v1Y8rIDEtuAUAL5j6MwgOXpAEKpaz+OXKVA9RwCEGDMdMqJIK//AOIXyHUmLQEszYHK1Av08GECUj4UIFWzAp5Ix4bnQ5Phe6TqhSQQgGTYe6KaPxAL9yPpIdmXyJoNyHDoemgLhaQKZj5aaUWKQ9GLzvtYyiC8pcB/tKKDAakEnI+lSMGlxwFHxU6UxQY4EtF7IkoXkiyGBU8/mrgANO5IKdL6SYk2AxzxhcsRCnhKqf9ENIsw8u57MlI2A1oefk9uAR+AFpewJqUDGu5Ha9i+J6YqIsUn89EsQHbQfBJDZmABAERm2P5Hz1UpAAAAAElFTkSuQmCC);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 12px 3px;
	
	
}
div#toolbar .button_nav[title~="Refresh"]{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAW1JREFUeNrEl9GNwyAMQHPVDeAROkJHYINmFG6D2yAjZIQoG3SD3gbpBukGHKlAilzbOAEaS/4JxH4YbMyXc645VDIBwOt5r9+X7w0AizPrdfA6LzaQzmHMhrnFABZjPeEwpb0EogVomdVqdQ42dgF0GY6xdhzAt+DcMmN/XkevN/TdeL16vRD/RFs/mixomVXcg5OUmDCXstGmtgCYPe81J1txcOdohwPoGed7hbVHAQATdsgsVNR2AAVgiYmmQLE1hF1LAQzE6ksJjsIQAU6IdC1jQYCRiMpbGtYIP7sNOALn5iCJAE9i7Hk0AHwSgIIwBWEMG11lGg610lBTiGI5rV6IgLk8XAbAplLcJFqv6peRdB07YYVQ8joGoZnATcu0GptQ72f3NCSSc6fomNYOAAG+9YUUwD3RWEaZhDkTc/q7Eg8TLlOkrfrNactLACRfRqeNabWU0Icw/vjE41RzCKs8TrekoRrgX4ABAIdy8Y6yn8MvAAAAAElFTkSuQmCC);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 12px 3px;

}
div#toolbar .button_nav[title~="Previous"]{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAFMN540AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOlJREFUeNpiYMAD/oMIJnRRDAGAAMKr3wDDQKxmAAQQOgJpe48swIjNGCxyKIr+M5ACAAKIJPSfGMcxIvs1AJ8JWF2NN5SYyHY6QAARQvMpCRMYXk+spv1oGv8TG3f/icDn8SYRYpMTRUFNkWaAAKIpIjue32PL28SA9aTEL3pxQHICIZRQ9lOawgJwaTxPZPJkIJQ8iSrpBi55DlHNFAGAABtyKAEpwSXQw0IBHDngPFSOJqCAiOxWQG1fvicyn/+HqqXY9w0kWIiOG8ixUIFEX+LzvQI2CxjJaGPgA4yDvgQZtXjU4uEHAHCdhyvX8lITAAAAAElFTkSuQmCC);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 12px 3px;
	
}
div#toolbar .button_nav[title~="Next"]{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAFMN540AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQFJREFUeNpiYMAD/oMIJmQOEChgqAAIIPz6kc3A0HIfxgAIIGxaUVQyMRAAyAoEkNjvGYgFAAFEEvqPy394HYZT8j2af8FsRhzBxojLQQJEOR0ggBgJRTk+tUyUBNrg0vwfRwIGifUTY2gBkiH/CeYGPCGegEsSIIAoQozkxvEwi+chplmBQNL8j16oMSOxP0BLAQs8lnEScs17LOma+OIFi8YCUsJCAEnjfXICM4HcrEgUAAiwAUOMZBQsVDGPaaB8PGrxyLX4PI4yiNSi5z/ULJJAAA6DSMEBlITKfjIs3E+tKHEgwVIHWqSJ9XgsXE/rBGmAVgG+h4rRDcyH4qEFAGZTclwAKYZeAAAAAElFTkSuQmCC);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 12px 3px;
}

div.actionChooser ul {
    padding:0;
    margin:0;
    position: absolute;
    float: left;
}

li {
    position:relative;
    z-index:1;
    overflow:hidden;
    list-style:none;
    padding:0;
    padding-right: 35px;
    margin:0 0 0.25em;
    display: inline;
}

li a:link,
li a:visited {
    display:block;
    border:0;
    padding-left:28px;
    color:#c55500;
}

li a:hover,
li a:focus,
li a:active {
    color:#730800;
    background:transparent;
}

li:before,
li:after,
li a:before,
li a:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
}

li a:before,
li a:after {
    margin:-8px 0 0;
    background:#c55500;
}

li a:hover:before,
li a:focus:before,
li a:active:before {
    background:#730800;
}

.rss a:before {
    left:3px;
    width:5px;
    height:5px;
    margin-top:0;
    /* css3 */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.rss a:after {
    left:3px;
    width:8px;
    height:8px;
    border-width:5px 5px 0 0;
    border-style:double;
    border-color:#c55500;
    background:transparent;
    /* css3 */
    -webkit-border-top-right-radius:25px;
    -moz-border-radius:0 25px 0 0;
    border-radius:0 25px 0 0;
}

.rss a:hover:after,
.rss a:focus:after,
.rss a:active:after {
    border-color:#730800;
}

.list a:before,
.list a:after {
    left:8px;
    width:12px;
    height:2px;
    border-width:6px 0;
    border-style:double;
    border-color:#c55500;
    background:transparent;
}

.list a:after {
    left:4px;
    width:2px;
}

.list a:hover:before,
.list a:focus:before,
.list a:active:before,
.list a:hover:after,
.list a:focus:after,
.list a:active:after {
    border-color:#730800;
    background:transparent;
}

.update:before {
    left:10px;
    border-width:2px 0 2px 2px;
    border-style:solid;
    border-color:transparent #c55500;
    margin-top:-1px;
}

.update a:before {
    left:4px;
    width:10px;
    height:10px;
    border:2px solid #c55500;
    margin-top:-6px;
    background:transparent;
    /* css3 */
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.update a:after {
    left:10px;
    width:10px;
    height:3px;
    border:1px solid #fff;
    margin-top:-6px;
    /* css3 */
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.update:hover:before {
    border-left-color:#730800;
}

.update a:hover:before,
.update a:focus:before,
.update a:active:before {
    border-color:#730800;
    background:transparent;
}

.update a:hover:after,
.update a:focus:after,
.update a:active:after {
    background:#730800;
}

.repeat a:before {
    left:1px;
    width:9px;
    height:9px;
    border:2px solid #c55500;
    margin-top:-6px;
    background:transparent;
    /* css3 */
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
}

.repeat a:after {
    left:9px;
    border:4px solid #E6E6E6;
    border-width:4px 2px 5px 5px;
    border-left-color:#c55500;
    margin:-9px 0 0;
    background:transparent;
}

.repeat a:hover:before,
.repeat a:focus:before,
.repeat a:active:before {
    border-color:#730800;
    background:transparent;
}

.repeat a:hover:after,
.repeat a:focus:after,
.repeat a:active:after {
    border-left-color:#730800;
}

.arrow-alt a:before {
    left:8px;
    border-width:7px 0 7px 8px;
    border-style:solid;
    border-color:transparent #c55500;
    margin-top:-7px;
    background:transparent;
}

.arrow-alt a:after {
    left:0;
    width:8px;
    height:6px;
    margin-top:-3px;
    background:#c55500;
}

.arrow-alt a:hover:before,
.arrow-alt a:focus:before,
.arrow-alt a:active:before {
    border-color:transparent #730800;
    background:transparent;
}

.arrow-alt a:hover:after,
.arrow-alt a:focus:after,
.arrow-alt a:active:after {
    background:#730800;
}

.arrow-alt.up a:before,
.arrow-alt.down a:before {
    left:1px;
    margin-top:-8px;
    border-width:0 7px 8px;
    border-color:#c55500 transparent;
}

.arrow-alt.up a:after,
.arrow-alt.down a:after {
    left:5px;
    width:6px;
    height:8px;
    margin-top:0;
}

.arrow-alt.down a:before {
    left:1px;
    margin-top:0;
    border-width:8px 7px 0;
}

.arrow-alt.down a:after {
    margin-top:-8px;
}

.arrow-alt.up a:hover:before,
.arrow-alt.up a:focus:before,
.arrow-alt.up a:active:before,
.arrow-alt.down a:hover:before,
.arrow-alt.down a:focus:before,
.arrow-alt.down a:active:before {
    border-color:#730800 transparent;
}
